build/
*.o
*.a

src/*.o
src/.viminfo
src/.cache
xiStream
 
build_files/ArenaSDK_Linux_x64
build_files/README
*.pyc
*.lock.hcl
*.exe
.env*

*build/
build
*dist/
*.egg-info
*__pycache__
*htmlcov/
*.coverage
*.iml
*.DS_Store
*.eggs

.vscode/